version: '2'

# networks:
#   reverse-proxy:
#     external:
#       name: root_reverse-proxy

services:
  <PROJECT>-app:
    build:
      dockerfile: ./.docker/app/Dockerfile
      context: .
    container_name: <PROJECT>-app
    networks:
      - reverse-proxy
    volumes:
      - .:/var/www/app
    environment:
      # - VIRTUAL_HOST=<VIRTUAL_HOST>
      # - LETSENCRYPT_EMAIL=<LETSENCRYPT_EMAIL>
      # - LETSENCRYPT_HOST=<LETSENCRYPT_HOST>
      # - WEB_DOCUMENT_ROOT="/var/www/app/public"
      # - PHP_DEBUGGER="xdebug"
      # export XDEBUG_REMOTE_HOST=$(ifconfig wlan0 | grep 'inet addr:' | cut -d: -f2 | awk '{ print $1}')
      # - XDEBUG_REMOTE_HOST=${XDEBUG_REMOTE_HOST}
      # - XDEBUG_REMOTE_AUTOSTART=1
    # expose:
      # - 9000
    ports:
      - 8000:80
